.stadium {
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  position: relative;
}
.floor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-color: #a34900;
}
.stand {
  position: absolute;
  bottom: 10px;
}
.stand.left {
  left: 0;
}
.stand.right {
  right: 0;
}
.stand > .main {
  position: absolute;
  bottom: 10px;
  height: 100px;
  width: 10px;
  background-color: #ccc;
}
