body {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
button {
  font-size: 30px;
  line-height: 40px;
  /* input[text='color']{
     width: 100px;
     height: 50px;
     /* padding: 0; */
  /* pasirasome taip kai norime butent tam skirtam elementui prisiskirti savybe */
}
span {
  padding: 0 20px;
  border: 1px dotted red;
}
